ESPRainMaker/Pods
*.xcuserstate
ESPRainMaker/ESPRainMaker.xcodeproj/xcuserdata/murat.xcuserdatad/xcschemes/xcschememanagement.plist
ESPRainMaker/ESPRainMaker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
